Repository barthofu/tscord-plugins, pull requests merged in 2023-04, with the labels that each got.

#11 feat(workflows): auto update registry
  .github/workflows/update_registry.yml
  scripts/updateRegistry.js
  versions.json
Labels: enhancement

#13 chore(twilio): fix tscord required version
  plugins/twilio/plugin.json
Labels: update plugin

#14 update(twilio): `1.2.0`
  plugins/twilio/api/controllers/twilio.ts
  plugins/twilio/configs/index.ts
  plugins/twilio/configs/twilio.ts
  plugins/twilio/plugin.json
  plugins/twilio/services/Twilio.ts
  plugins/twilio/utils/types/configs.d.ts
Labels: update plugin

#17 feat(starboard): add starboard plugin
  plugins/starboard/commands/stars.ts
  plugins/starboard/entities/StarBoard.ts
  plugins/starboard/entities/StarBoardMessage.ts
  plugins/starboard/entities/index.ts
  plugins/starboard/events/custom/newStar.ts
  plugins/starboard/events/custom/updateStar.ts
  plugins/starboard/events/messageReactionAdd.ts
  plugins/starboard/i18n/en.ts
  plugins/starboard/i18n/fr.ts
  plugins/starboard/main.ts
  plugins/starboard/plugin.json
Labels: new plugin
